<section class="homepage-section homepage-book" aria-labelledby="homepage-book-title">
  <a href="https://press.princeton.edu/books/hardcover/9780691294094/try-turning-it-off-and-on-again"
     class="homepage-book__cover-link"
     aria-hidden="true"
     tabindex="-1">
    <img src="{{ '/assets/images/book-cover.jpg' | relative_url }}"
         alt=""
         class="homepage-book__cover"
         width="410" height="638"
         loading="lazy">
  </a>
  <div class="homepage-book__body">
    <h2 id="homepage-book-title" class="homepage-section__title">
      Forthcoming book &middot; <em>Try Turning It Off and On Again</em>
    </h2>
    <p class="homepage-book__lead">
      My first book for a general audience, <em>Try Turning It Off and On Again</em>, comes out December 1, 2026 from Princeton University Press. It explains what software is, how it's made, and why it can be so weird sometimes.
    </p>
    <p class="homepage-book__cta">
      Preorder from
      <a href="https://press.princeton.edu/books/hardcover/9780691294094/try-turning-it-off-and-on-again">Princeton University Press</a>
      or
      <a href="https://www.amazon.com/Try-Turning-Off-Again-Weirdness/dp/0691294097/">Amazon</a>.
    </p>
  </div>
</section>
